body{
  background-image: url('../images/img6.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}
.collection{
    /* background-image: url('../images/img6.jpg'); */
    height:100%;
    width:100%;
  }
 .muteButton{
   height:5%;
   width:5%;
   cursor: pointer;
   transition: ease .05s;
   position:sticky;
   bottom: 5%;
   left: 5%;
 }
 .muteButton:hover{
  transform: scale(1.1);
}
.muteButton:active{
  transform: scale(1);
} 
 .muteButton > *{
   height:100%;
   width:100%;
   position:relative;
 }
.cards{
    padding: 5px;
    height:100%;
    width:80%;
    background:none;
    text-align:center;
    display:flex;
    min-width: 0;
    overflow: auto;
    position: absolute;
    flex-wrap: wrap;
    justify-content: center;
  
  }
  
  .card{
    cursor:pointer;
    position:relative;
    margin: 20px;
    display: block;
    height:307px;
    min-width:200px;
    max-width:200px;
    flex: 1;
    color:whitesmoke; 
    text-align:center; 
  
  }
  .currentDeck{
    flex-wrap: wrap;
    position:relative;
    display: flex;
    float: right;
    height: 100%;
    width:20%;
    right:0;
    color:whitesmoke;
  }
  
  .currentDeck .card {
    display: inline !important;
  }
  .selectedCard{
    border:2px solid whitesmoke;
    width:100%;
    background-image: linear-gradient(0deg, rgb(36, 39, 41) 0%, rgb(56, 61, 64) 100%);
  }